body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    
    background: -webkit-linear-gradient(90deg, #fdcd3b 60%, #ffed4b 60%);
    background: -o-linear-gradient(90deg, #fdcd3b 60%, #ffed4b 60%);
    background: -moz-linear-gradient(90deg, #fdcd3b 60%, #ffed4b 60%);
    background: linear-gradient(90deg, #fdcd3b 60%, #ffed4b 60%);
}
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
 
  .flip {
    /* border: 1px solid green; */
    width: 160px;
    height: 60px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -ms-perspective: 500px;
    perspective: 500px;
    
  /* margin-bottom: 50px; */
  }
  .flip span {
    /* border: 1px solid yellow; */
    font-weight: 400;
    text-transform: uppercase;
    /* height: 48px; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-25px);
    -moz-transform: translateZ(-25px);
    -o-transform: translateZ(-25px);
    -ms-transform: translateZ(-25px);
    transform: translateZ(-25px);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    transition: transform 0.3s;
    cursor: pointer;
  }
  .flip span .front,
  .flip span .back {
    margin: 0;
    /* border: 1px solid red; */
    width: 160px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    text-align: center;
    letter-spacing: 0.4em;
  }
  .flip span .front {

    background-color: #222;
    
    color: #fff;
    -webkit-transform: rotateY(0) translateZ(30px);
    -moz-transform: rotateY(0) translateZ(30px);
    -o-transform: rotateY(0) translateZ(30px);
    -ms-transform: rotateY(0) translateZ(30px);
    transform: rotateY(0) translateZ(30px);
  }
  .flip span .back {
    background-color: rgba(255,255,255,0);
    color: rgba(34,34,34,0);
    -webkit-transform: rotateX(90deg) translateZ(30px);
    -moz-transform: rotateX(90deg) translateZ(30px);
    -o-transform: rotateX(90deg) translateZ(30px);
    -ms-transform: rotateX(90deg) translateZ(30px);
    transform: rotateX(90deg) translateZ(30px);
    overflow: hidden;
    
  }
  .flip span .back:after {
    content: '';
    position: absolute;
    top: -32%;
    left: -10%;
    width: 120%;
    height: 50%;
    /* border: 1px solid gray; */
  
    background: #222;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    -ms-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  .flip span:hover {
    -webkit-transform: translateZ(-30px) rotateX(-90deg);
    -moz-transform: translateZ(-30px) rotateX(-90deg);
    -o-transform: translateZ(-30px) rotateX(-90deg);
    -ms-transform: translateZ(-30px) rotateX(-90deg);
    transform: translateZ(-30px) rotateX(-90deg);
  }
  .flip span:hover .front {
    background: #000;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  .flip span:hover .back {
    font-weight: bold;
    color: black;
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    -ms-transition: color 0.4s linear;
    transition: color 0.4s linear;
    background: #fff;
  }
  .flip span:hover .back:after {
    -webkit-transform: rotate(6deg) translate(100px, -18px);
    -moz-transform: rotate(6deg) translate(100px, -18px);
    -o-transform: rotate(6deg) translate(100px, -18px);
    -ms-transform: rotate(6deg) translate(100px, -18px);
    transform: rotate(6deg) translate(100px, -18px);
  }
  @media (max-width:998px) {
    .flip{
      width:60px;
    }
    .flip span .front,
  .flip span .back {
    width:60px;
  }
  }